BTechCogitareBankUtils01/Web References/pl.pekaobiznes24.www/camt2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:swift:xsd:camt.004.001.04" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.004.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="AccountIdentification1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBANIdentifier" />
        <xs:element name="BBAN" type="BBANIdentifier" />
        <xs:element name="UPIC" type="UPICIdentifier" />
        <xs:element name="DmstAcct" type="SimpleIdentificationInformation" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReport10">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentification1Choice" />
      <xs:choice>
        <xs:element name="Acct" type="CashAccountDetails4" />
        <xs:element name="BizErr" type="ErrorHandling3" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Accounts4">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="AcctRpt" type="AccountReport10" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="AmtWthCcy" type="CurrencyAndAmount" />
        <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AustrianBankleitzahlIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="AT[0-9]{5,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDNG" />
      <xs:enumeration value="STLD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceType10Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPNG" />
      <xs:enumeration value="INTM" />
      <xs:enumeration value="CLSG" />
      <xs:enumeration value="BOOK" />
      <xs:enumeration value="CRRT" />
      <xs:enumeration value="PDNG" />
      <xs:enumeration value="LRLD" />
      <xs:enumeration value="AVLB" />
      <xs:enumeration value="LTSF" />
      <xs:enumeration value="CRDT" />
      <xs:enumeration value="EAST" />
      <xs:enumeration value="PYMT" />
      <xs:enumeration value="BLCK" />
      <xs:enumeration value="XPCD" />
      <xs:enumeration value="DLOD" />
      <xs:enumeration value="XCRD" />
      <xs:enumeration value="XDBT" />
      <xs:enumeration value="ADJT" />
      <xs:enumeration value="PRAV" />
      <xs:enumeration value="DBIT" />
      <xs:enumeration value="THRE" />
      <xs:enumeration value="NOTE" />
      <xs:enumeration value="SELF" />
      <xs:enumeration value="MSTR" />
      <xs:enumeration value="FSET" />
      <xs:enumeration value="BLOC" />
      <xs:enumeration value="OTHB" />
      <xs:enumeration value="CUST" />
      <xs:enumeration value="FORC" />
      <xs:enumeration value="COLC" />
      <xs:enumeration value="FUND" />
      <xs:enumeration value="PIPO" />
      <xs:enumeration value="XCHG" />
      <xs:enumeration value="CCPS" />
      <xs:enumeration value="TOHB" />
      <xs:enumeration value="COHB" />
      <xs:enumeration value="DOHB" />
      <xs:enumeration value="TPBL" />
      <xs:enumeration value="CPBL" />
      <xs:enumeration value="DPBL" />
      <xs:enumeration value="FUTB" />
      <xs:enumeration value="REJB" />
      <xs:enumeration value="FCOL" />
      <xs:enumeration value="FCOU" />
      <xs:enumeration value="SCOL" />
      <xs:enumeration value="SCOU" />
      <xs:enumeration value="CUSA" />
      <xs:enumeration value="XCHC" />
      <xs:enumeration value="XCHN" />
      <xs:enumeration value="DSET" />
      <xs:enumeration value="LACK" />
      <xs:enumeration value="NSET" />
      <xs:enumeration value="OTCC" />
      <xs:enumeration value="OTCG" />
      <xs:enumeration value="OTCN" />
      <xs:enumeration value="SAPD" />
      <xs:enumeration value="SAPC" />
      <xs:enumeration value="REPD" />
      <xs:enumeration value="REPC" />
      <xs:enumeration value="BSCD" />
      <xs:enumeration value="BSCC" />
      <xs:enumeration value="SAPP" />
      <xs:enumeration value="IRLT" />
      <xs:enumeration value="IRDR" />
      <xs:enumeration value="DWRD" />
      <xs:enumeration value="ADWR" />
      <xs:enumeration value="AIDR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BalanceType11Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPNG" />
      <xs:enumeration value="INTM" />
      <xs:enumeration value="CLSG" />
      <xs:enumeration value="BOOK" />
      <xs:enumeration value="CRRT" />
      <xs:enumeration value="PDNG" />
      <xs:enumeration value="LRLD" />
      <xs:enumeration value="AVLB" />
      <xs:enumeration value="LTSF" />
      <xs:enumeration value="CRDT" />
      <xs:enumeration value="EAST" />
      <xs:enumeration value="PYMT" />
      <xs:enumeration value="BLCK" />
      <xs:enumeration value="XPCD" />
      <xs:enumeration value="DLOD" />
      <xs:enumeration value="XCRD" />
      <xs:enumeration value="XDBT" />
      <xs:enumeration value="ADJT" />
      <xs:enumeration value="PRAV" />
      <xs:enumeration value="DBIT" />
      <xs:enumeration value="THRE" />
      <xs:enumeration value="NOTE" />
      <xs:enumeration value="FSET" />
      <xs:enumeration value="BLOC" />
      <xs:enumeration value="OTHB" />
      <xs:enumeration value="CUST" />
      <xs:enumeration value="FORC" />
      <xs:enumeration value="COLC" />
      <xs:enumeration value="FUND" />
      <xs:enumeration value="PIPO" />
      <xs:enumeration value="XCHG" />
      <xs:enumeration value="CCPS" />
      <xs:enumeration value="TOHB" />
      <xs:enumeration value="COHB" />
      <xs:enumeration value="DOHB" />
      <xs:enumeration value="TPBL" />
      <xs:enumeration value="CPBL" />
      <xs:enumeration value="DPBL" />
      <xs:enumeration value="FUTB" />
      <xs:enumeration value="REJB" />
      <xs:enumeration value="FCOL" />
      <xs:enumeration value="FCOU" />
      <xs:enumeration value="SCOL" />
      <xs:enumeration value="SCOU" />
      <xs:enumeration value="CUSA" />
      <xs:enumeration value="XCHC" />
      <xs:enumeration value="XCHN" />
      <xs:enumeration value="DSET" />
      <xs:enumeration value="LACK" />
      <xs:enumeration value="NSET" />
      <xs:enumeration value="OTCC" />
      <xs:enumeration value="OTCG" />
      <xs:enumeration value="OTCN" />
      <xs:enumeration value="SAPD" />
      <xs:enumeration value="SAPC" />
      <xs:enumeration value="REPD" />
      <xs:enumeration value="REPC" />
      <xs:enumeration value="BSCD" />
      <xs:enumeration value="BSCC" />
      <xs:enumeration value="SAPP" />
      <xs:enumeration value="IRLT" />
      <xs:enumeration value="IRDR" />
      <xs:enumeration value="DWRD" />
      <xs:enumeration value="ADWR" />
      <xs:enumeration value="AIDR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceType3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="BalanceType10Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceType4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="BalanceType11Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BilateralLimitDetails3">
    <xs:sequence>
      <xs:element name="CtrPtyId" type="MemberIdentificationChoice" />
      <xs:element name="LmtAmt" type="AmountChoice" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BilBal" type="CashBalanceDetails7" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CHIPSParticipantIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="CP[0-9]{4,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CHIPSUniversalIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="CH[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CanadianPaymentsARNIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="CA[0-9]{9,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashAccountDetails4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="CashAccountType2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ccy" type="CurrencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurMulLmt" type="LimitDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcctOwnr" type="AnyBICIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcctSvcr" type="BICIdentifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MulBal" type="CashBalanceDetails6" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurBilLmt" type="BilateralLimitDetails3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StgOrdr" type="StandingOrderDetails3" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CASH" />
      <xs:enumeration value="CHAR" />
      <xs:enumeration value="COMM" />
      <xs:enumeration value="TAXE" />
      <xs:enumeration value="CISH" />
      <xs:enumeration value="TRAS" />
      <xs:enumeration value="SACC" />
      <xs:enumeration value="CACC" />
      <xs:enumeration value="SVGS" />
      <xs:enumeration value="ONDP" />
      <xs:enumeration value="MGLD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashBalanceDetails6">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAndAmount" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="BalanceType3Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sts" type="BalanceStatus1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValDt" type="DateAndDateTimeChoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="NbOfPmts" type="Number" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalanceDetails7">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAndAmount" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="BalanceType4Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sts" type="BalanceStatus1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValDt" type="DateAndDateTimeChoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="NbOfPmts" type="Number" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentificationChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="USCHU" type="CHIPSUniversalIdentifier" />
        <xs:element name="NZNCC" type="NewZealandNCCIdentifier" />
        <xs:element name="IENSC" type="IrishNSCIdentifier" />
        <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier" />
        <xs:element name="USCH" type="CHIPSParticipantIdentifier" />
        <xs:element name="CHBC" type="SwissBCIdentifier" />
        <xs:element name="USFW" type="FedwireRoutingNumberIdentifier" />
        <xs:element name="PTNCC" type="PortugueseNCCIdentifier" />
        <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier" />
        <xs:element name="ITNCC" type="ItalianDomesticIdentifier" />
        <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier" />
        <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier" />
        <xs:element name="CHSIC" type="SwissSICIdentifier" />
        <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier" />
        <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier" />
        <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier" />
        <xs:element name="HKNCC" type="HongKongBankIdentifier" />
        <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier" />
        <xs:element name="AUBSBs" type="SmallNetworkIdentifier" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT" />
      <xs:enumeration value="DBIT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="5" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="CurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="CurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndDateTimeChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Dt" type="ISODate" />
        <xs:element name="DtTm" type="ISODateTime" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails1">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="ToDt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RtrAcct" type="ReturnAccountV04" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorHandling1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ErrorHandling1Code" />
        <xs:element name="Prtry" type="Max4AlphaNumericText" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ErrorHandling1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X020" />
      <xs:enumeration value="X030" />
      <xs:enumeration value="X050" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ErrorHandling3">
    <xs:sequence>
      <xs:element name="Err" type="ErrorHandling1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="AU[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FedwireRoutingNumberIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="FW[0-9]{9,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Frequency2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YEAR" />
      <xs:enumeration value="MNTH" />
      <xs:enumeration value="QURT" />
      <xs:enumeration value="MIAN" />
      <xs:enumeration value="WEEK" />
      <xs:enumeration value="DAIL" />
      <xs:enumeration value="ADHO" />
      <xs:enumeration value="INDA" />
      <xs:enumeration value="OVNG" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GermanBankleitzahlIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="BL[0-9]{8,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HongKongBankIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="HK[0-9]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="5" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IrishNSCIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="IE[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ItalianDomesticIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="IT[0-9]{10,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LimitDetails">
    <xs:sequence>
      <xs:element name="Amt" type="AmountChoice" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="140" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4AlphaNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MemberIdentificationChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="BIC" type="BICIdentifier" />
        <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NewZealandNCCIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="NZ[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="0" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PortugueseNCCIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="PT[0-9]{8,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QueryReference">
    <xs:sequence>
      <xs:element name="QryRef" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="QryNm" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="PmtCtrl" type="RequestType1Code" />
        <xs:element name="Enqry" type="RequestType2Code" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RequestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT01" />
      <xs:enumeration value="RT02" />
      <xs:enumeration value="RT03" />
      <xs:enumeration value="RT04" />
      <xs:enumeration value="RT05" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RT11" />
      <xs:enumeration value="RT12" />
      <xs:enumeration value="RT13" />
      <xs:enumeration value="RT14" />
      <xs:enumeration value="RT15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReturnAccountV04">
    <xs:sequence>
      <xs:element name="MsgId" type="MessageIdentification" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReqTp" type="RequestType1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="BizQryRef" type="QueryReference" />
      <xs:choice>
        <xs:element name="BizRpt" type="Accounts4" />
        <xs:element name="OprlErr" type="ErrorHandling3" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="RU[0-9]{9,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SimpleIdentificationInformation">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SmallNetworkIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="AU[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SouthAfricanNCCIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="ZA[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="ES[0-9]{8,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StandingOrderDetails3">
    <xs:sequence>
      <xs:element name="Amt" type="AmountChoice" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ref" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Frqcy" type="Frequency2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="VldtyPrd" type="DatePeriodDetails1" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssoctdPoolAcct" type="AccountIdentification1Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SwissBCIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="SW[0-9]{3,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SwissSICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="SW[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UKDomesticSortCodeIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="SC[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UPICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8,17}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>