BTechCogitareBankUtils01/Web References/pl.pekaobiznes24.www/camt0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="AccountIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBAN2007Identifier" />
        <xs:element name="Othr" type="GenericAccountIdentification1" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountInterest2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="InterestType1Choice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rate" type="Rate3" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrToDt" type="DateTimePeriodDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rsn" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReport11">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="ElctrncSeqNb" type="Number" />
      <xs:element minOccurs="0" maxOccurs="1" name="LglSeqNb" type="Number" />
      <xs:element name="CreDtTm" type="ISODateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrToDt" type="DateTimePeriodDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="CpyDplctInd" type="CopyDuplicate1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="RptgSrc" type="ReportingSource1Choice" />
      <xs:element name="Acct" type="CashAccount20" />
      <xs:element minOccurs="0" maxOccurs="1" name="RltdAcct" type="CashAccount16" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Intrst" type="AccountInterest2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bal" type="CashBalance3" />
      <xs:element minOccurs="0" maxOccurs="1" name="TxsSummry" type="TotalTransactions2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ntry" type="ReportEntry2" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlRptInf" type="Max500Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalAccountIdentification1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="5" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR" />
      <xs:enumeration value="PBOX" />
      <xs:enumeration value="HOME" />
      <xs:enumeration value="BIZZ" />
      <xs:enumeration value="MLTO" />
      <xs:enumeration value="DLVY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AlternateSecurityIdentification2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchange3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InstdAmt" type="AmountAndCurrencyExchangeDetails3" />
      <xs:element minOccurs="0" maxOccurs="1" name="TxAmt" type="AmountAndCurrencyExchangeDetails3" />
      <xs:element minOccurs="0" maxOccurs="1" name="CntrValAmt" type="AmountAndCurrencyExchangeDetails3" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnncdPstngAmt" type="AmountAndCurrencyExchangeDetails3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrtryAmt" type="AmountAndCurrencyExchangeDetails4" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchangeDetails3">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="CcyXchg" type="CurrencyExchange5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndCurrencyExchangeDetails4">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="CcyXchg" type="CurrencyExchange5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountRangeBoundary1">
    <xs:sequence>
      <xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount" />
      <xs:element name="Incl" type="YesNoIndicator" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceSubType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalBalanceSubType1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceType12">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="BalanceType5Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubTp" type="BalanceSubType1Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BalanceType12Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XPCD" />
      <xs:enumeration value="OPAV" />
      <xs:enumeration value="ITAV" />
      <xs:enumeration value="CLAV" />
      <xs:enumeration value="FWAV" />
      <xs:enumeration value="CLBD" />
      <xs:enumeration value="ITBD" />
      <xs:enumeration value="OPBD" />
      <xs:enumeration value="PRCD" />
      <xs:enumeration value="INFO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BalanceType5Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="BalanceType12Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankToCustomerAccountReportV02">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader42" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Rpt" type="AccountReport11" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Domn" type="BankTransactionCodeStructure5" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prtry" type="ProprietaryBankTransactionCodeStructure1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure5">
    <xs:sequence>
      <xs:element name="Cd" type="ExternalBankTransactionDomain1Code" />
      <xs:element name="Fmly" type="BankTransactionCodeStructure6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankTransactionCodeStructure6">
    <xs:sequence>
      <xs:element name="Cd" type="ExternalBankTransactionFamily1Code" />
      <xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BaseOneRate">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="10" />
      <xs:totalDigits value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BatchInformation2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MsgId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PmtInfId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="NbOfTxs" type="Max15NumericText" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtDbtInd" type="CreditDebitCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrnchId" type="BranchData2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstlAdr" type="PostalAddress6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="CashAccountType2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ccy" type="ActiveOrHistoricCurrencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max70Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount20">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="CashAccountType2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ccy" type="ActiveOrHistoricCurrencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ownr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="Svcr" type="BranchAndFinancialInstitutionIdentification4" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="CashAccountType4Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CASH" />
      <xs:enumeration value="CHAR" />
      <xs:enumeration value="COMM" />
      <xs:enumeration value="TAXE" />
      <xs:enumeration value="CISH" />
      <xs:enumeration value="TRAS" />
      <xs:enumeration value="SACC" />
      <xs:enumeration value="CACC" />
      <xs:enumeration value="SVGS" />
      <xs:enumeration value="ONDP" />
      <xs:enumeration value="MGLD" />
      <xs:enumeration value="NREX" />
      <xs:enumeration value="MOMA" />
      <xs:enumeration value="LOAN" />
      <xs:enumeration value="SLRY" />
      <xs:enumeration value="ODFT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashBalance3">
    <xs:sequence>
      <xs:element name="Tp" type="BalanceType12" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtLine" type="CreditLine2" />
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element name="Dt" type="DateAndDateTimeChoice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Avlbty" type="CashBalanceAvailability2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalanceAvailability2">
    <xs:sequence>
      <xs:element name="Dt" type="CashBalanceAvailabilityDate1" />
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashBalanceAvailabilityDate1">
    <xs:sequence>
      <xs:choice>
        <xs:element name="NbOfDays" type="Max15PlusSignedNumericText" />
        <xs:element name="ActlDt" type="ISODate" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEBT" />
      <xs:enumeration value="CRED" />
      <xs:enumeration value="SHAR" />
      <xs:enumeration value="SLEV" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BRKF" />
      <xs:enumeration value="COMM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChargeType2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ChargeType1Code" />
        <xs:element name="Prtry" type="GenericIdentification3" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargesInformation6">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TtlChrgsAndTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="ChargeType2Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rate" type="PercentageRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="Br" type="ChargeBearerType1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="Pty" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tax" type="TaxCharges2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysId" type="ClearingSystemIdentification2Choice" />
      <xs:element name="MmbId" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NmPrfx" type="NamePrefix1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhneNb" type="PhoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="MobNb" type="PhoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="FaxNb" type="PhoneNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailAdr" type="Max2048Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Othr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CopyDuplicate1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CODU" />
      <xs:enumeration value="COPY" />
      <xs:enumeration value="DUPL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CorporateAction1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cd" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nb" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prtry" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT" />
      <xs:enumeration value="DBIT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditLine2">
    <xs:sequence>
      <xs:element name="Incl" type="TrueFalseIndicator" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="CreditorReferenceType2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ref" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyAndAmountRange2">
    <xs:sequence>
      <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyExchange5">
    <xs:sequence>
      <xs:element name="SrcCcy" type="ActiveOrHistoricCurrencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="TrgtCcy" type="ActiveOrHistoricCurrencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnitCcy" type="ActiveOrHistoricCurrencyCode" />
      <xs:element name="XchgRate" type="BaseOneRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtrctId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="QtnDt" type="ISODateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTimeChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Dt" type="ISODate" />
        <xs:element name="DtTm" type="ISODateTime" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrvcOfBirth" type="Max35Text" />
      <xs:element name="CityOfBirth" type="Max35Text" />
      <xs:element name="CtryOfBirth" type="CountryCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate" />
      <xs:element name="ToDt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDtTm" type="ISODateTime" />
      <xs:element name="ToDtTm" type="ISODateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="17" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV02" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rsn" type="Max4Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlInf" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RADM" />
      <xs:enumeration value="RPIN" />
      <xs:enumeration value="FXDR" />
      <xs:enumeration value="DISP" />
      <xs:enumeration value="PUOR" />
      <xs:enumeration value="SCOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MSIN" />
      <xs:enumeration value="CNFA" />
      <xs:enumeration value="DNFA" />
      <xs:enumeration value="CINV" />
      <xs:enumeration value="CREN" />
      <xs:enumeration value="DEBN" />
      <xs:enumeration value="HIRI" />
      <xs:enumeration value="SBIN" />
      <xs:enumeration value="CMCN" />
      <xs:enumeration value="SOAC" />
      <xs:enumeration value="DISP" />
      <xs:enumeration value="BOLD" />
      <xs:enumeration value="VCHR" />
      <xs:enumeration value="AROI" />
      <xs:enumeration value="TSUT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EntryDetails1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Btch" type="BatchInformation2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TxDtls" type="EntryTransaction2" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntryStatus2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOOK" />
      <xs:enumeration value="PDNG" />
      <xs:enumeration value="INFO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EntryTransaction2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Refs" type="TransactionReferences2" />
      <xs:element minOccurs="0" maxOccurs="1" name="AmtDtls" type="AmountAndCurrencyExchange3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Avlbty" type="CashBalanceAvailability2" />
      <xs:element minOccurs="0" maxOccurs="1" name="BkTxCd" type="BankTransactionCodeStructure4" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chrgs" type="ChargesInformation6" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Intrst" type="TransactionInterest2" />
      <xs:element minOccurs="0" maxOccurs="1" name="RltdPties" type="TransactionParty2" />
      <xs:element minOccurs="0" maxOccurs="1" name="RltdAgts" type="TransactionAgents2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Purp" type="Purpose2Choice" />
      <xs:element minOccurs="0" maxOccurs="10" name="RltdRmtInf" type="RemittanceLocation2" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtInf" type="RemittanceInformation5" />
      <xs:element minOccurs="0" maxOccurs="1" name="RltdDts" type="TransactionDates2" />
      <xs:element minOccurs="0" maxOccurs="1" name="RltdPric" type="TransactionPrice2Choice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RltdQties" type="TransactionQuantities1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="FinInstrmId" type="SecurityIdentification4Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tax" type="TaxInformation3" />
      <xs:element minOccurs="0" maxOccurs="1" name="RtrInf" type="ReturnReasonInformation10" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorpActn" type="CorporateAction1" />
      <xs:element minOccurs="0" maxOccurs="1" name="SfkpgAcct" type="CashAccount16" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlTxInf" type="Max500Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBalanceSubType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBankTransactionDomain1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBankTransactionFamily1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalBankTransactionSubFamily1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalReportingSource1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalReturnReason1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalTechnicalInputChannel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BIC" type="BICIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstlAdr" type="PostalAddress6" />
      <xs:element minOccurs="0" maxOccurs="1" name="Othr" type="GenericFinancialIdentification1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstrumentQuantityChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Unit" type="DecimalNumber" />
        <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount" />
        <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FromToAmountRange">
    <xs:sequence>
      <xs:element name="FrAmt" type="AmountRangeBoundary1" />
      <xs:element name="ToAmt" type="AmountRangeBoundary1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="SchmeNm" type="AccountSchemeName1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="SchmeNm" type="PersonIdentificationSchemeName1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader42">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" />
      <xs:element name="CreDtTm" type="ISODateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgRcpt" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgPgntn" type="Pagination" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlInf" type="Max500Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISINIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{12,12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="FrAmt" type="AmountRangeBoundary1" />
        <xs:element name="ToAmt" type="AmountRangeBoundary1" />
        <xs:element name="FrToAmt" type="FromToAmountRange" />
        <xs:element name="EQAmt" type="ImpliedCurrencyAndAmount" />
        <xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ImpliedCurrencyAndAmount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="5" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InterestType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="InterestType1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InterestType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INDY" />
      <xs:enumeration value="OVRN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="105" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="140" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15PlusSignedNumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[+]{0,1}[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2048" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="34" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max500Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max5NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageIdentification2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MsgNmId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgId" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameAndAddress10">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" />
      <xs:element name="Adr" type="PostalAddress6" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT" />
      <xs:enumeration value="MIST" />
      <xs:enumeration value="MISS" />
      <xs:enumeration value="MADM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="0" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumberAndSumOfTransactions1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NbOfNtries" type="Max15NumericText" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sum" type="DecimalNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberAndSumOfTransactions2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NbOfNtries" type="Max15NumericText" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sum" type="DecimalNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlNetNtryAmt" type="DecimalNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtDbtInd" type="CreditDebitCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BICOrBEI" type="AnyBICIdentifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Othr" type="GenericOrganisationIdentification1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element name="PgNb" type="Max5NumericText" />
      <xs:element name="LastPgInd" type="YesNoIndicator" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4" />
        <xs:element name="PrvtId" type="PersonIdentification5" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstlAdr" type="PostalAddress6" />
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="Party6Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtryOfRes" type="CountryCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtctDtls" type="ContactDetails2" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PercentageRate">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="10" />
      <xs:totalDigits value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Othr" type="GenericPersonIdentification1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AdrTp" type="AddressType2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="Dept" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubDept" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="StrtNm" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="BldgNb" type="Max16Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstCd" type="Max16Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TwnNm" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtrySubDvsn" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ctry" type="CountryCode" />
      <xs:element minOccurs="0" maxOccurs="7" name="AdrLine" type="Max70Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryAgent2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryBankTransactionCodeStructure1">
    <xs:sequence>
      <xs:element name="Cd" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryDate2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Dt" type="DateAndDateTimeChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryParty2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Pty" type="PartyIdentification32" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryPrice2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Pric" type="ActiveOrHistoricCurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryQuantity1">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Qty" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProprietaryReference1">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" />
      <xs:element name="Ref" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Purpose2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPurpose1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Rate3">
    <xs:sequence>
      <xs:element name="Tp" type="RateType4Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="VldtyRg" type="CurrencyAndAmountRange2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateType4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Pctg" type="PercentageRate" />
        <xs:element name="Othr" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="ReferredDocumentType2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nb" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RltdDt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType5Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ustrd" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Strd" type="StructuredRemittanceInformation7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RmtId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtLctnMtd" type="RemittanceLocationMethod2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtLctnElctrncAdr" type="Max2048Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtLctnPstlAdr" type="NameAndAddress10" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RemittanceLocationMethod2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAXI" />
      <xs:enumeration value="EDIC" />
      <xs:enumeration value="URID" />
      <xs:enumeration value="EMAL" />
      <xs:enumeration value="POST" />
      <xs:enumeration value="SMSM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReportEntry2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NtryRef" type="Max35Text" />
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="RvslInd" type="TrueFalseIndicator" />
      <xs:element name="Sts" type="EntryStatus2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookgDt" type="DateAndDateTimeChoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValDt" type="DateAndDateTimeChoice" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcctSvcrRef" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Avlbty" type="CashBalanceAvailability2" />
      <xs:element name="BkTxCd" type="BankTransactionCodeStructure4" />
      <xs:element minOccurs="0" maxOccurs="1" name="ComssnWvrInd" type="YesNoIndicator" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlInfInd" type="MessageIdentification2" />
      <xs:element minOccurs="0" maxOccurs="1" name="AmtDtls" type="AmountAndCurrencyExchange3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chrgs" type="ChargesInformation6" />
      <xs:element minOccurs="0" maxOccurs="1" name="TechInptChanl" type="TechnicalInputChannel1Choice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Intrst" type="TransactionInterest2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NtryDtls" type="EntryDetails1" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlNtryInf" type="Max500Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportingSource1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalReportingSource1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnReason5Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalReturnReason1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReturnReasonInformation10">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OrgnlBkTxCd" type="BankTransactionCodeStructure4" />
      <xs:element minOccurs="0" maxOccurs="1" name="Orgtr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rsn" type="ReturnReason5Choice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddtlInf" type="Max105Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="ISIN" type="ISINIdentifier" />
        <xs:element name="Prtry" type="AlternateSecurityIdentification2" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RfrdDocInf" type="ReferredDocumentInformation3" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfrdDocAmt" type="RemittanceAmount1" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrRefInf" type="CreditorReferenceInformation2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invcr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invcee" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="3" name="AddtlRmtInf" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmount1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Rate" type="PercentageRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dtls" type="TaxRecordDetails1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAuthorisation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Titl" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxCharges2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rate" type="PercentageRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformation3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cdtr" type="TaxParty1" />
      <xs:element minOccurs="0" maxOccurs="1" name="Dbtr" type="TaxParty2" />
      <xs:element minOccurs="0" maxOccurs="1" name="AdmstnZn" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RefNb" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mtd" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="Dt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="SeqNb" type="Number" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rcrd" type="TaxRecord1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TaxId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegnId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxTp" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TaxId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegnId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxTp" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Authstn" type="TaxAuthorisation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPeriod1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Yr" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="TaxRecordPeriod1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrToDt" type="DatePeriodDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecord1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ctgy" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtgyDtls" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="DbtrSts" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="CertId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrmsCd" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prd" type="TaxPeriod1" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxAmt" type="TaxAmount1" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlInf" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordDetails1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Prd" type="TaxPeriod1" />
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TaxRecordPeriod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MM01" />
      <xs:enumeration value="MM02" />
      <xs:enumeration value="MM03" />
      <xs:enumeration value="MM04" />
      <xs:enumeration value="MM05" />
      <xs:enumeration value="MM06" />
      <xs:enumeration value="MM07" />
      <xs:enumeration value="MM08" />
      <xs:enumeration value="MM09" />
      <xs:enumeration value="MM10" />
      <xs:enumeration value="MM11" />
      <xs:enumeration value="MM12" />
      <xs:enumeration value="QTR1" />
      <xs:enumeration value="QTR2" />
      <xs:enumeration value="QTR3" />
      <xs:enumeration value="QTR4" />
      <xs:enumeration value="HLF1" />
      <xs:enumeration value="HLF2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TechnicalInputChannel1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalTechnicalInputChannel1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalTransactions2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TtlNtries" type="NumberAndSumOfTransactions2" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlCdtNtries" type="NumberAndSumOfTransactions1" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlDbtNtries" type="NumberAndSumOfTransactions1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TtlNtriesPerBkTxCd" type="TotalsPerBankTransactionCode2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalsPerBankTransactionCode2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NbOfNtries" type="Max15NumericText" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sum" type="DecimalNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlNetNtryAmt" type="DecimalNumber" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="FcstInd" type="TrueFalseIndicator" />
      <xs:element name="BkTxCd" type="BankTransactionCodeStructure4" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Avlbty" type="CashBalanceAvailability2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionAgents2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="RcvgAgt" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="DlvrgAgt" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssgAgt" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="1" name="SttlmPlc" type="BranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prtry" type="ProprietaryAgent2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionDates2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AccptncDtTm" type="ISODateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="TradActvtyCtrctlSttlmDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="TradDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrBkSttlmDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="TxDtTm" type="ISODateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prtry" type="ProprietaryDate2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInterest2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" />
      <xs:element name="CdtDbtInd" type="CreditDebitCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="InterestType1Choice" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rate" type="Rate3" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrToDt" type="DateTimePeriodDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rsn" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionParty2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InitgPty" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="Dbtr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="DbtrAcct" type="CashAccount16" />
      <xs:element minOccurs="0" maxOccurs="1" name="UltmtDbtr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cdtr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrAcct" type="CashAccount16" />
      <xs:element minOccurs="0" maxOccurs="1" name="UltmtCdtr" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="1" name="TradgPty" type="PartyIdentification32" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prtry" type="ProprietaryParty2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionPrice2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DealPric" type="ActiveOrHistoricCurrencyAndAmount" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Prtry" type="ProprietaryPrice2" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionQuantities1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Qty" type="FinancialInstrumentQuantityChoice" />
        <xs:element name="Prtry" type="ProprietaryQuantity1" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionReferences2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MsgId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcctSvcrRef" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PmtInfId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="InstrId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="EndToEndId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TxId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="MndtId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChqNb" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysRef" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Prtry" type="ProprietaryReference1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:simpleType name="YesNoIndicator">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
</xs:schema>