BTechCogitareBankUtils01/Web References/pl.pekaobiznes24.www/cmrq0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:ccs:tech:xsd:cmrq.001.001.02" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:ccs:tech:xsd:cmrq.001.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetAcctRpt" type="GetAccountReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAccountReport">
    <xs:sequence>
      <xs:element name="MsgId" type="MessageIdentyfication" />
      <xs:element name="AcctRptQryDef" type="AccountReportQueryDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentyfication">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReportQueryDefinition">
    <xs:sequence>
      <xs:element name="AcctRptCrit" type="AccountReportCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReportCriteria">
    <xs:sequence>
      <xs:element name="NewCrit" type="NewCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewCriteria">
    <xs:sequence>
      <xs:element name="SchCrit" type="SearchCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element name="AcctId" type="AccountIdentification" />
      <xs:choice>
        <xs:element name="AcctRptValDt" type="AccountReportValueSearch" />
        <xs:element minOccurs="0" name="AcctRptTxNb" type="AccountReportTransactionNumberSearch" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification">
    <xs:sequence>
      <xs:element name="EQ" type="AccountIdentification3Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReportValueSearch">
    <xs:sequence>
      <xs:element name="DtSch" type="DatePeriodDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountReportTransactionNumberSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="GT" type="TransactionNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBANIdentifier" />
        <xs:element name="BBAN" type="BBANIdentifier" />
        <xs:element name="UPIC" type="UPICIdentifier" />
        <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UPICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8,17}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SimpleIdentificationInformation2">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDt" type="ISODate" />
      <xs:element name="ToDt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="34" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="TransactionNumber">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
</xs:schema>