BTechCogitareBankUtils01/Web References/pl.pekaobiznes24.www/rpts3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:ccs:tech:xsd:rpts.004.001.02" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:ccs:tech:xsd:rpts.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetRpt" type="GetDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDocument">
    <xs:sequence>
      <xs:element name="MsgId" type="MessageIdentification" />
      <xs:element name="RptQryDef" type="DocumentQueryDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DocumentQueryDefinition">
    <xs:sequence>
      <xs:element name="RptCrit" type="DocumentCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentCriteria">
    <xs:sequence>
      <xs:element name="NewCrit" type="NewCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewCriteria">
    <xs:sequence>
      <xs:element name="SchCrit" type="SearchCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="RptId" type="DocumentId" />
      <xs:element minOccurs="0" name="RptType" type="Max4Text" />
      <xs:element minOccurs="0" name="RptKind" type="Max6Text" />
      <xs:element minOccurs="0" name="RptNm" type="Max150Text" />
      <xs:element minOccurs="0" name="RptValDt" type="ReportDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentId">
    <xs:sequence>
      <xs:element name="EQ" type="Max150Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DtSch" type="Date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Date">
    <xs:sequence>
      <xs:element name="Dt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max150Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="150" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max6Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
</xs:schema>