BTechCogitareBankUtils01/Web References/pl.pekaobiznes24.www/rpts2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:ccs:tech:xsd:rpts.003.001.02" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:ccs:tech:xsd:rpts.003.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GenerateRpt" type="PrepareReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrepareReport">
    <xs:sequence>
      <xs:element name="MsgId" type="MessageIdentification" />
      <xs:element name="RptDef" type="ReportDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReportDefinition">
    <xs:sequence>
      <xs:element name="RptNm" type="Max20Text" />
      <xs:element minOccurs="0" name="FltrNm" type="Max20Text" />
      <xs:element name="DtSch" type="DatePeriodDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max20Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrDt" type="ISODate" />
      <xs:element minOccurs="0" name="ToDt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
</xs:schema>